/* screen - explore */

.explore {
  align-items: center;
  background-color: #2e2752;
  border: 0px none;
  display: flex;
  flex-direction: column;
  gap: 222px;
  height: 1157px;
  width: 1440px;
}

.explore .navigation-web-top-b {
  align-items: flex-start;
  display: flex;
  height: 84px;
  justify-content: center;
  min-width: 1440px;
}

.explore .overlap-group3 {
  align-items: center;
  background-color: var(--shadowsondark4px);
  box-shadow: 0px 3px 4px #00000040;
  display: flex;
  height: 86px;
  margin-top: -1px;
  min-width: 1442px;
  padding: 0 1px;
}

.explore .screenshot-2023-01-04-at-201620 {
  height: 84px;
  width: 79px;
}

.explore .search {
  align-items: flex-start;
  display: flex;
  height: 40px;
  justify-content: center;
  margin-bottom: 4.0px;
  margin-left: 1px;
  overflow: hidden;
  width: 519px;
}

.explore .search-i-container {
  align-items: center;
  background-color: var(--iron);
  border-radius: 23px;
  display: flex;
  gap: 22px;
  height: 42px;
  margin-top: -1px;
  min-width: 521px;
  padding: 7px 26px;
}

.explore .search-icon {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: normal;
  min-height: 24px;
  min-width: 1px;
  text-align: center;
}

.explore .search-items-collec {
  letter-spacing: 0;
  line-height: 21px;
  margin-bottom: 3.0px;
  min-width: 1px;
  white-space: nowrap;
}

.explore .overlap-group {
  align-items: flex-start;
  background-color: var(--x7a52f4primary);
  border-radius: 23px;
  display: flex;
  height: 42px;
  justify-content: flex-end;
  margin-top: -1px;
  min-width: 100px;
  padding: 10px 26px;
}

.explore .lable {
  min-width: 47px;
}

.explore .buttons-label-filled {
  align-items: flex-start;
  display: flex;
  height: 40px;
  justify-content: center;
  margin-bottom: 4.0px;
  margin-left: 6px;
  min-width: 98px;
}

.explore .overlap-group1 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--nebula);
  border-radius: 23px;
  display: flex;
  height: 42px;
  margin-top: -1px;
  min-width: 100px;
  padding: 9px 8px;
}

.explore .lable-1 {
  min-width: 83px;
}

.explore .overlap-group4 {
  align-items: flex-start;
  background-image: url(../img/group-3090-copy.png);
  background-size: 100% 100%;
  display: flex;
  height: 601px;
  justify-content: flex-end;
  margin-left: 1.0px;
  min-width: 1265px;
  padding: 138px 148px;
}

.explore .overlap-group-container {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 117px;
  margin-bottom: 56.0px;
  min-height: 205px;
  width: 127px;
}

.explore .overlap-group7 {
  align-items: flex-start;
  background-color: var(--black-coral-pearl-3);
  border: 1px solid;
  border-color: var(--mountain-mist-2);
  border-radius: 5px;
  box-shadow: 0px 12px 14px #080f226b;
  display: flex;
  height: 44px;
  min-width: 93px;
  padding: 11px 23.5px;
}

.explore .title-copy-2 {
  width: 44px;
}

.explore .place {
  min-width: 44px;
}

.explore .overlap-group6 {
  align-items: flex-start;
  align-self: flex-end;
  background-color: var(--black-coral-pearl-3);
  border: 1px solid;
  border-color: var(--mountain-mist-2);
  border-radius: 5px;
  box-shadow: 0px 12px 14px #080f226b;
  display: flex;
  height: 44px;
  min-width: 93px;
  padding: 11px 11.5px;
}

.explore .title-copy {
  align-items: flex-start;
  display: flex;
  height: 19px;
  width: 68px;
}

.explore .place-1 {
  margin-left: 1px;
  min-width: 67px;
}

.explore .overlap-group5 {
  align-items: flex-start;
  background-color: var(--black-coral-pearl-3);
  border: 1px solid;
  border-color: var(--mountain-mist-2);
  border-radius: 5px;
  box-shadow: 0px 12px 14px #080f226b;
  display: flex;
  height: 44px;
  min-width: 113px;
  padding: 12px 11.5px;
}

.explore .title-copy-3 {
  width: 88px;
}

.explore .lable-2 {
  letter-spacing: 0;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
}

.explore .place-2 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 19px;
  text-align: center;
}

.explore .title-copy-1 {
  align-items: flex-start;
  display: flex;
  height: 19px;
}
