@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/63c5969694f024b857e0382c.63c59697d51da9416a21e2a4.9SWhlSt.hcp.png");

@font-face {
  font-family: "SF Pro-Light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/SF-Pro.ttf") format("truetype");
}
@font-face {
  font-family: "SF Pro Display-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SF-Pro-Display-Regular.otf") format("opentype");
}
@font-face {
  font-family: "SF Pro Display-Ultralight";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SF-Pro-Display-Ultralight.otf") format("opentype");
}
@font-face {
  font-family: "SF Pro Display-Thin";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/SF-Pro-Display-Thin.otf") format("opentype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}
