@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/63c5969694f024b857e0382c.63c59697d51da9416a21e2a4.9SWhlSt.hcp.png");

@font-face {
  font-family: "SF Pro-Light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/SF-Pro.ttf") format("truetype");
}
@font-face {
  font-family: "SF Pro Display-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SF-Pro-Display-Regular.otf") format("opentype");
}
@font-face {
  font-family: "SF Pro Display-Thin";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/SF-Pro-Display-Thin.otf") format("opentype");
}
@font-face {
  font-family: "SF Pro Display-Ultralight";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SF-Pro-Display-Ultralight.otf") format("opentype");
}
@font-face {
  font-family: "SF Pro-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/SF-Pro.ttf") format("truetype");
}
@font-face {
  font-family: "SF Pro-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SF-Pro.ttf") format("truetype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

.line-28 {
  height: 50px;
  margin-left: 13px;
  object-fit: cover;
  width: 1px;
}

.line-29 {
  height: 50px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.all-nfts-art-collect-container {
  height: 370px;
  position: relative;
  width: 963px;
}

.col {
  left: 1308px;
  letter-spacing: -3.00px;
  line-height: 84px;
  position: absolute;
  top: 27px;
  white-space: nowrap;
  width: 120px;
}

.account-security-app {
  left: 29px;
  letter-spacing: -0.85px;
  line-height: 60px;
  position: absolute;
  top: 39px;
  width: 189px;
}

.flex {
  align-items: flex-start;
  display: flex;
}

.guoqtzgcgzfhtlbo2-nmgl2-slay-18 {
  height: 266px;
  margin-right: 2.0px;
  margin-top: 20px;
  object-fit: cover;
  width: 266px;
}

.guoqtzgcgzfhtlbo2-nmgl2-slay-19 {
  height: 46px;
  left: 177px;
  position: absolute;
  top: 0;
  width: 131px;
}

.line-18 {
  height: 46px;
  left: 131px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.line-19 {
  height: 46px;
  left: 177px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.line-20 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 308px;
}

.group-6 {
  height: 15px;
  margin-top: 1.14px;
  width: 15px;
}

.group-2931 {
  align-items: center;
  display: flex;
  gap: 1px;
  height: 44px;
  left: 36px;
  min-width: 64px;
  position: absolute;
  top: 2px;
}

.group-7 {
  background-image: url(../img/subtract.svg);
  background-size: 100% 100%;
  height: 26px;
  margin-bottom: 1.75px;
  width: 26px;
}

.group-3615 {
  height: 984px;
  left: 0;
  position: absolute;
  top: 0;
  width: 665px;
}

.dont-have-an-account {
  height: 47px;
  left: 0;
  letter-spacing: -0.85px;
  line-height: 28px;
  position: absolute;
  top: 0;
  width: 289px;
}

.by-signing-up-you-a {
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  opacity: 0.9;
  position: absolute;
  text-align: center;
  top: 2px;
  width: 755px;
}

.span-1 {
  text-decoration: underline;
}

.rectangle-4426 {
  height: 162px;
  left: 729px;
  position: absolute;
  top: 386px;
  width: 679px;
}

.rectangle-4428 {
  height: 240px;
  left: 729px;
  position: absolute;
  top: 617px;
  width: 679px;
}

.rectangle-4429 {
  height: 40px;
  left: 729px;
  position: absolute;
  top: 617px;
  width: 679px;
}

.rectangle-4430-1 {
  height: 40px;
  left: 729px;
  position: absolute;
  top: 348px;
  width: 679px;
}

.line-17 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 84px;
  width: 1440px;
}

.group-2921 {
  height: 60px;
  left: 750px;
  position: absolute;
  top: 467px;
  width: 633px;
}

.buy-now {
  height: 60px;
  left: 750px;
  letter-spacing: -1.05px;
  line-height: 104px;
  position: absolute;
  text-align: center;
  top: 466px;
  white-space: nowrap;
  width: 315px;
}

.make-offer {
  height: 59px;
  left: 1077px;
  letter-spacing: -1.05px;
  line-height: 104px;
  position: absolute;
  text-align: center;
  top: 466px;
  white-space: nowrap;
  width: 300px;
}

.owned-by {
  height: 18px;
  left: 730px;
  letter-spacing: -0.60px;
  line-height: 104px;
  position: absolute;
  top: 255px;
  white-space: nowrap;
  width: 135px;
}

.current-price {
  height: 18px;
  left: 749px;
  letter-spacing: -0.60px;
  line-height: 104px;
  position: absolute;
  top: 398px;
  white-space: nowrap;
  width: 135px;
}

.usd-price {
  height: 18px;
  left: 1029px;
  letter-spacing: -0.60px;
  line-height: 18px;
  position: absolute;
  top: 627px;
  white-space: nowrap;
  width: 135px;
}

.floor-difference {
  height: 18px;
  left: 1138px;
  letter-spacing: -0.60px;
  line-height: 18px;
  position: absolute;
  top: 627px;
  white-space: nowrap;
  width: 135px;
}

.expires {
  height: 18px;
  left: 1284px;
  letter-spacing: -0.60px;
  line-height: 18px;
  position: absolute;
  top: 627px;
  white-space: nowrap;
  width: 135px;
}

.x6th-march-2023-1126am {
  height: 20px;
  left: 778px;
  letter-spacing: -0.85px;
  line-height: 84px;
  position: absolute;
  top: 355px;
  white-space: nowrap;
  width: 342px;
}

.more-from-collection {
  height: 44px;
  left: 73px;
  letter-spacing: -1.10px;
  line-height: 104px;
  position: absolute;
  top: 1463px;
  white-space: nowrap;
  width: 351px;
}

.ellipse-1 {
  height: 34px;
  left: 731px;
  object-fit: cover;
  position: absolute;
  top: 125px;
  width: 34px;
}

.ellipse-12 {
  height: 24px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 24px;
}

.x-flow {
  height: 18px;
  left: 173px;
  letter-spacing: -0.65px;
  line-height: 20px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
  width: 135px;
}

.x6-below {
  height: 18px;
  left: 408px;
  letter-spacing: -0.65px;
  line-height: 20px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
  width: 135px;
}

.group-2944 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 749px;
  min-width: 680px;
  position: absolute;
  top: 825px;
}

.ellipse-12-1 {
  height: 24px;
  object-fit: cover;
  width: 24px;
}

.marcotics-2 {
  height: 18px;
  left: 0;
  letter-spacing: -0.65px;
  top: 0;
  width: 135px;
}

.x014-flow {
  height: 18px;
  left: 121px;
  letter-spacing: -0.65px;
  line-height: 20px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
  width: 135px;
}

.x6-below-1 {
  height: 18px;
  left: 356px;
  letter-spacing: -0.65px;
  line-height: 20px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
  width: 135px;
}

.description {
  height: 44px;
  left: 34px;
  letter-spacing: -1.10px;
  line-height: 104px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 351px;
}

.a-kid-called-beast-i {
  letter-spacing: -1.53px;
  line-height: 27px;
  margin-right: 11.0px;
  margin-top: 11px;
  min-height: 100px;
  width: 608px;
}

.rectangle-4434 {
  height: 70px;
  left: 0;
  position: absolute;
  top: 69px;
  width: 659px;
}

.about-a-kid-called-beast {
  height: 44px;
  left: 54px;
  letter-spacing: -1.10px;
  line-height: 104px;
  position: absolute;
  top: 81px;
  white-space: nowrap;
  width: 351px;
}

.ellipse-13 {
  height: 44px;
  margin-top: 4px;
  object-fit: cover;
  width: 44px;
}

.a-kid-called-beast-i-1 {
  letter-spacing: -1.53px;
  line-height: 27px;
  min-height: 100px;
  width: 545px;
}

.visit-akidcalledbeastcom {
  left: 0;
  letter-spacing: -1.53px;
  line-height: 27px;
  position: absolute;
  top: 0;
  width: 545px;
}

.line-24 {
  height: 50px;
  left: 179px;
  object-fit: cover;
  position: absolute;
  top: 1367px;
  width: 1px;
}

.line-25 {
  height: 50px;
  left: 229px;
  object-fit: cover;
  position: absolute;
  top: 1367px;
  width: 1px;
}

.line-26 {
  height: 50px;
  left: 279px;
  object-fit: cover;
  position: absolute;
  top: 1367px;
  width: 1px;
}

.line-18-1 {
  height: 1px;
  object-fit: cover;
  width: 46px;
}

.beast-1927-1 {
  left: 20px;
  letter-spacing: 0.60px;
  line-height: 37px;
  position: absolute;
  top: 296px;
  white-space: nowrap;
  width: 271px;
}

.address-4 {
  left: 38px;
  letter-spacing: -0.20px;
  line-height: 20px;
  opacity: 0.9;
  position: absolute;
  top: 593px;
  width: 294px;
}

.marcotics-3 {
  line-height: 20px;
  position: absolute;
  text-decoration: underline;
  white-space: nowrap;
}

.navbar {
  align-items: flex-start;
  display: flex;
  height: 24px;
  margin-bottom: 4.0px;
  margin-left: 193px;
  width: 382px;
}

.navbar-link-place {
  min-width: 61px;
}

.navbar-link-explore {
  margin-left: 22px;
  min-width: 59px;
}

.navbar-link-ranking {
  margin-left: 20px;
  min-width: 64px;
}

.navbar-link-chat {
  margin-left: 22px;
  min-width: 38px;
}

.navbar-link-analytics {
  margin-left: 22px;
}

.buttons-label-filled-resting-on-light {
  align-items: flex-start;
  display: flex;
  height: 40px;
  justify-content: center;
  margin-bottom: 4.0px;
  margin-left: 32px;
  min-width: 98px;
}

.newest-collections {
  letter-spacing: 0;
  line-height: normal;
  min-height: 29px;
}

.contacts-web-item-v3 {
  align-items: flex-start;
  display: flex;
  height: 324px;
  justify-content: center;
  min-width: 410px;
}

.img-5 {
  height: 98px;
  object-fit: cover;
  width: 109px;
}

.photo {
  height: 44px;
  object-fit: cover;
  width: 44px;
}

.counter {
  align-items: flex-start;
  display: flex;
  gap: 6px;
  height: 21px;
  width: 62px;
}

.name-copy {
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.img-8 {
  height: 98px;
  object-fit: cover;
  width: 109px;
}

.img-11 {
  height: 98px;
  object-fit: cover;
  width: 109px;
}

.navbar-link {
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.you-dont-have-an-ac {
  align-self: center;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 0.09px;
  min-width: 215px;
  white-space: nowrap;
}

.element-tags-f5-f5-fa-editable-on-light-3 {
  align-items: flex-start;
  display: flex;
  height: 36px;
  justify-content: center;
}

.tab-title-3 {
  letter-spacing: 0;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
}

.manage-listings {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 21px;
  margin-left: 33px;
  white-space: nowrap;
}

.profile-settings {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 21px;
  margin-left: 33px;
  margin-top: 18px;
  white-space: nowrap;
}

.oval-3 {
  background-color: var(--ffffff);
  border-radius: 9px;
  box-shadow: 0px 20px 24px #999ba82e;
  height: 18px;
  width: 18px;
}

.oval-3-1 {
  background-color: var(--ffffff);
  border-radius: 9px;
  height: 18px;
  width: 18px;
}

.license {
  letter-spacing: 0;
  line-height: 18px;
  min-width: 46px;
  white-space: nowrap;
}

.api {
  letter-spacing: 0;
  line-height: 18px;
  min-width: 21px;
  white-space: nowrap;
}

.x2021-all-rights-re {
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.navigation-web {
  align-items: flex-start;
  display: flex;
  justify-content: center;
}

.title-container-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-height: 43px;
}

.navigation-web-sidebar-menu-on-light {
  align-items: flex-start;
  display: flex;
  height: 839px;
  justify-content: center;
  min-width: 256px;
}

.overlap {
  display: flex;
  margin-top: -1px;
}

.img-container {
  height: 34px;
  position: relative;
  width: 82px;
}

.progress {
  align-items: flex-start;
  display: flex;
  height: 6px;
  justify-content: center;
  margin-top: 122px;
  min-width: 1440px;
}

.stay-updated-on-your {
  left: 95px;
  letter-spacing: 0;
  line-height: 72px;
  position: absolute;
  top: 525px;
  width: 569px;
}

.have-an-account-or-f {
  align-self: center;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 0.09px;
  min-width: 261px;
  white-space: nowrap;
}

.icon-copy-2 {
  height: 114px;
  left: 100px;
  position: absolute;
  top: 132px;
  width: 505px;
}

.choose-your-location {
  letter-spacing: 0;
  line-height: normal;
  min-height: 50px;
  min-width: 407px;
  text-align: center;
}

.placeholder-5 {
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.png-gif-web-p-mp4 {
  letter-spacing: 0;
  line-height: 21px;
  min-width: 377px;
  text-align: center;
  white-space: nowrap;
}

.forms-v1-input-restingon-light {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 7px;
  min-height: 72px;
  width: 628px;
}

.onlight-container {
  height: 72px;
  position: relative;
  width: 628px;
}

.forms-v1-input-restingon-light-copy-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 7px;
  left: 0;
  min-height: 72px;
  position: absolute;
  top: 0;
  width: 628px;
}

.forms-vselectrestingonlight-container {
  align-items: flex-start;
  display: flex;
  gap: 25px;
  height: 72px;
  min-width: 628px;
}

.forms-v1-select-restingon-light-copy {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 7px;
  min-height: 72px;
  width: 302px;
}

.buttons-social-logo-coinbase {
  background-image: url(../img/shape-5.svg);
  background-size: 100% 100%;
  height: 16px;
  margin-top: 1px;
  width: 16px;
}

.buttons-social-logo-torus {
  align-items: flex-start;
  display: flex;
  height: 16px;
  margin-top: 1px;
  min-width: 16px;
  padding: 0.5px 1px;
}

.icon-6 {
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}

.navigation-web-container {
  height: 904px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.next {
  align-items: flex-start;
  display: flex;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  width: 40px;
}

.numbers {
  align-items: center;
  display: flex;
  height: 40px;
  margin-left: 52px;
  overflow: hidden;
  width: 182px;
}

.next-1 {
  align-items: flex-start;
  display: flex;
  height: 40px;
  justify-content: center;
  margin-left: 51px;
  overflow: hidden;
  width: 40px;
}

.ico-1 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 19px;
  min-width: 8px;
  text-align: center;
}

.label {
  align-items: center;
  display: flex;
  gap: 11px;
  height: 18px;
  overflow: hidden;
  width: 44px;
}

.color {
  height: 10px;
  width: 10px;
}

.type-1 {
  margin-left: 113px;
  min-width: 78px;
}

.type-2 {
  margin-left: 132px;
  min-width: 85px;
}

.type-3 {
  margin-left: 76px;
  min-width: 78px;
}

.views-3 {
  margin-left: 67px;
  min-width: 41px;
}

.type-4 {
  margin-left: 89px;
  min-width: 21px;
}

.buttons-label-icon-t-8 {
  align-items: flex-end;
  display: flex;
}

.views-5 {
  letter-spacing: 0;
  line-height: 21px;
  margin-bottom: 0.8px;
  text-align: right;
  white-space: nowrap;
}

.copy-container {
  height: 624px;
  margin-left: 28.0px;
  margin-top: 93px;
  position: relative;
  width: 1272px;
}

.group-3090-copy {
  height: 601px;
  left: 7px;
  position: absolute;
  top: 0;
  width: 1265px;
}

.rectangle-1304-copy-4 {
  left: 918px;
  top: 331px;
  width: 93px;
}

.rectangle-1304-copy-5 {
  left: 884px;
  top: 170px;
  width: 93px;
}

.rectangle-1304-copy-6 {
  left: 1011px;
  top: 138px;
  width: 113px;
}

.title-copy-5 {
  left: 908px;
  top: 182px;
  width: 44px;
}

.title-copy-6 {
  left: 1024px;
  top: 151px;
  width: 88px;
}

.title-copy-1 {
  align-items: flex-start;
  display: flex;
  height: 19px;
  position: absolute;
}

.x24h-2 {
  margin-left: 97px;
  min-width: 57px;
}

.floor-1 {
  align-items: flex-start;
}

.x7h-6 {
  margin-left: 54px;
  min-width: 61px;
}