.navbarLink {
    margin-left: 50px;
    min-width: 59px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
    color: var(--ffffff);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-weight: 700;
    font-style: normal;
}